%h1.text-center Forums
=flash_msg
- if current_user && current_user.admin_of?(@this_forum)
  %input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
%div.row
  %div.col-md-12
    = render partial: 'layouts/forums', locals: {forums: @forums}