= form_tag('/',class: "form-horizontal") do |f|
  .form-group
    = label_tag 'new-group-title', 'Title', class: 'col-sm-1 control-label' 
    .col-sm-6
      = text_field_tag 'new-group-title','', class: 'form-control' 
    .col-sm-2
      %button.btn.btn-default.btn-xs#create-new-group.form-control{"aria-expanded" => "false", :type => "button", data: { forum_id: forum_id }}
        Create Group
