= form_tag('/', class: "form-horizontal" ) do
  %input{:type => "hidden", :value => "#{topic_id}", :id =>'comment-topic-id'}
  .form-group
    .col-sm-10
      = text_area_tag :comment_body, '',class: 'form-control'
    .col-sm-2
      %button.btn.btn-default#create-new-comment.form-control{"aria-expanded" => "false", :type => "button"}
        Comment
