- if current_user && current_user.super_admin?
  %button.btn.btn-xs.btn-default.new-topic-toggle{"aria-expanded" => "false", :type => "button"}
    New Topic
#new-topic-forum{hidden: true}
  = render partial: "topics/form", locals: { new_topic: new_obj }
%table.table#topic-table
  %tbody
    - topics.each do |topic|
      %tr{ id: "topic-#{topic.id}-update-section" }
        = render partial: 'layouts/tf_row', locals: { obj: topic }