%p#notice= notice
%h1 Listing Completed Carts
%input{:type => "hidden", :value => "#{form_authenticity_token}", :id =>'session_key'}
%table.table
  %thead
    %tr
      %th User
      %th Total
      %th Delivered
      %th Delivered by
      %th Delivered on
      %th{:colspan => "2"}
  %tbody
    - @carts.each do |cart|
      %tr{id: "cart-#{cart.id}-tr"}
        = render partial: "carts/carts", locals: { cart: cart }
%br/