// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.move-row{
	background-image: image-url('move_row.gif');
	cursor: move;
}

.new-forum-btn {
	position: relative;
	top: -3px;
}