body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  color: green;
}

.error, .login_error {
  color: red;
  padding-bottom: 5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.lg-glyphicon {
  font-size: 200%;
}

.md-glyphicon {
  font-size: 150%;
}

.inline {
  display: inline;
}

#sidebar {
  margin-top: 2.5em;
  background-color: #ababab;
  padding: 1em .25em .25em 1em;
}

.lg-font {
  font-size: 200%;
  line-height: 150%;
}

.md-font {
  font-size: 150% !important;
  line-height: 150%;
}

table.forum-part {
  margin-bottom: 0;
}

table.topic-part {
  margin-bottom: 0;
}

td.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.remove-border {
  border-top: none !important; 
}

.middle-align {
  vertical-align: middle !important;
}

.login-box {
  padding-top: .3em;
}

.cart-link {
  min-width: 100px;
}