%form#checkout{:action => "/checkout", :method => "post"}
  #dropin
  %input{:type => "submit", :value => "Pay $10"}
:javascript
  function setupBT() {
    braintree.setup("#{@client_token}", 'dropin', {
      container: 'dropin'
    });
  }
  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;