- if current_user
  = render partial: 'comments/form', locals: { new_comment: new_comment, topic_id: topic_id }
- else
  You must be logged in comment.
  %a{ href: '/signup'}
    Sign Up
%table.table.table-bordered
  %tbody.bg-info#comments-table
    - comments.each do |comment|
      = render partial: 'comments/row', locals: { comment: comment }