%table.table.table-bordered
  %tbody.bg-info
    - comments.each do |comment|
      %tr
        %td
          %p
            %small
              Created by #{link_to comment.creator.username, user_path(comment.creator)} on #{local_time(comment.updated_at)}
          %p
            =comment.body