%table.table.no-margin#main-table
  %tbody
    %tr
      %td.remove-border.new-group-row
        .row
          .col-sm-2
            %button.btn.btn-xs.btn-default.new-group-toggle.inline{"aria-expanded" => "false", :type => "button", data: { parent_id: "#{this_forum.id}" }}
              New Grouping
          .col-sm-10
            #new-group-forum{hidden: true}
              = render partial: 'groupings/form', locals: { grouping: @new_grouping, forum_id: this_forum.id }
    - groups.each do |forum_group|
      = render partial: 'layouts/forums_grouping', locals: { forum_group: forum_group, this_forum: this_forum, forums: forums }