- if current_user && current_user.admin_of?(@this_forum)
%table.table
  %tbody
    - topics.each do |topic|
      %tr{ id: "topic-#{topic.id}-update-section" }
        = render partial: 'layouts/tf_row', locals: { obj: topic }
%br